<!doctype html>
<head>
  <h1>Twilio Text Message Application</h1>
</head>

<body>
  <p id="welcome">Welcome! Fill out the form below, and you'll send a text message through Twilio. Please note: The number you enter must be verified through Twilio.</p>
  <%= form_tag("/sms/send", method: "post") do %>
    <%= label_tag(:phone_number, "Enter a Phone Number:") %>
    <div id="label">
      <%= text_field_tag(:phone_number) %>
    </div>
    <%= label_tag(:message, "Enter a Message:") %>
    <div id="label">
      <%= text_field_tag(:message) %>
    </div>
    <%= submit_tag("Send Message") %>
  <% end %>
</body>
